.layout{
    background-color: white;
    width: 22%;
}

.logo {
    height: 200px;
    width: auto;
    
}


.icon {
    height: 40px;
    width:auto;
    margin-right: 10%;
    margin-left: 10%;
}
.femme {
    height: 55px;
}
.sub_menu {
    padding-bottom: 10%;
}
.form {
    display:flex;
    justify-content: center;
    padding-top: 5%;
    
}
.link {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.input {
    border-radius: 30px;
}

.submit {
    background-color: white;
    border-color: #E74A24;
    border-width: 5px;
    margin-bottom: 15%;
}

@media screen and (min-width: 600px   ) {
    .layout {
        display: hidden;
    }
}